*{
    box-sizing: border-box;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.form{
    border: 1px solid;
    padding: 10px;
}

.code-wrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.css, .html{
    background-color: #c1c1c161;
    max-height: 400px;
    overflow: scroll;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 0 0 1em;
    padding: 0 15px;
    width: calc(50% - 1em);
}
pre{
    font-size: .875em;
}